


.custom-link {

  
    color: #390440;
 
  text-decoration: none;
 
  font-weight: bold;
 
  margin-right: 20px;
 
 
 
}

.custom-link:hover {
  
color: #a070b2;

  text-decoration: underline;
  
}

.App {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

.task-list {
  margin-top: 20px;
}

.form-check-input {
  margin-left: 10px;
}

.todolist {
  padding: 20px;
  text-align: center;
}

#plus-button:hover {
 background-color:rgb(204, 182, 228);
}

#delete-button:hover {
background-color: rgb(204, 182, 228);
}

#todo-list {
  background-color: #e3d3ea;
    padding-right: 50px;
}

#navbar {
background-color: #e3d3ea;
}

#coded {
  background-color: #e3d3ea;
}

#about {
  background-color: #e3d3ea;
}

#tasks {
  background-color: #e9e2ec;
  padding-top: 15px;
}
